@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */


.balloon {
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  border: solid 5px  #222;
  border-radius:  30px;
  position: relative;
}


/* /クラスをカンマでまとめられる。top等の部分は個別のほうがよい */
/* 追加 */
.balloon::before,::after {
  content: "";
  border: solid 30px transparent;
  position: absolute;
} 


.balloon::before {
  border-top: 30px solid #222;
  left: 20px;
  bottom: -60px;
}

.balloon::after {
  border-top: 30px solid #fff;
  left: 20px;
  bottom: -53px;
}