@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */


.contents {
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  border: solid #dedede 1px;
}

/* クラス名修正 .header → .contents t*/
.contents th {
  background-color: #2244aa;
  font-size: 18px;
  color: #fff;
  line-height: 26px;
}

.contents th,.contents tr,.contents td {
  border: solid #dedede 1px;
  padding: 10px;
  
}
.contents td {
  color: #000;
  text-align: center;
  line-height: 22px;
}

/* 親要素からみて偶数番目の要素 */
.contents tbody tr:nth-child(2n) {
  background-color: #ecf1f2;
}

.contents tfoot tr:last-child {
  border-top: dashed #000 2px;
}