@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */


.text-align {
  text-align: center;
}

/* .text_1{
  display: inline-block;
  background-color: #e6f2ff;
  width: 90px;
  padding: 10px 0;
}

.text_2{
  width: 90px;
  background-color: #e6f2ff;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
} */

.common-text {
  background-color: #e6f2ff;
  width: 90px;
  padding: 10px 0;
}

.is-inline-block {
  display: inline-block;
}

.is-margin {
  margin: 0 auto;
  text-align: center;
}

.around {
  display: table;
}

.table {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.table_text {
  background-color: #fff;
  padding: 10px;
}

.is-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_text {
  background-color: #fff;
  padding: 10px;
}

.is-relative {
  position: relative;
}

.position_text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;  
}

.change-position_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* クラス名を連番から変更 */